
.navbar-brand {
    transition: color 0.2s ease;
    font-family:'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: large;
    align-items: center !important;
}

.navbar-brand:hover {
    color: #022456 !important; 
}
.main-input{
    width: 500px;
}
body{
    background-color: #1e2129;
    color: antiquewhite;
    
}
.output-group{
    
    display:block !important;
    visibility: visible !important;
    color:antiquewhite;
}
h2{
    font-family:'Roboto',sans-serif;
}


.pop-out-image:hover {
    transform: scale(1.1);
}
.pop-out-image:hover{
    box-shadow:0 10px 20px rgba(6, 6, 239, 0.4);
}
.general-text{
    color:antiquewhite;
}
.about-group{
    color:rgb(157, 137, 137) !important;
}